<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>

    <h1> Hello EveryOne</h1>
    <form action="user/signup" method="POST">
        <label for="">name</label>
        <input type="text" required name="email" placeholder="example@gmail.com">
        <label for="">password</label>
        <input type="password" required name="password">
        <label for="">role</label>
        <input type="text" required name="role">
        <button type="submit">Signup</button>
    </form>
    <form action="user/login" method="POST">
        <label for="">name</label>
        <input type="text" required name="email" placeholder="example@gmail.com">
        <label for="">password</label>
        <input type="password" required name="password">
        <label for="">role</label>
        <input type="text" required name="role">
        <button type="submit">Signup</button>
    </form>
    
</body>
</html>